.formOut_lab {
	font-family: 'Open Sans';
	font-size:12pt;
	width: 30%;
	text-align: left;
	margin-right: -20px;
	padding-top: 5px;
}

.in_405 {
	border: 1px solid #4267b2;
	float: left;
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	color: #4267b2;
	font-style: italic;
}

label.error, span.error {
	color: red;
	font-size: 10pt;
}
.formOut_field {
	font-family: 'Open Sans';
	float: left;
	width: 417px;
	position: relative;
}

.formOut_field .fa-calendar-alt, .formOut_field .fa-at, .formOut_field .fa-mobile, .fa-id-card{
	position: absolute;
	top: 5px;
	right: 7px;
	color: #4267b3;
	font-size: 20pt;
}
